In [1]:
import pandas as pd
import sqlite3
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
pd.options.display.max_columns = 205

Commençons par impoter le Dataframe résultant du travail de cleaning du notebook précédent

In [2]:
FinalStatcon = sqlite3.connect('finalstat.sqlite')

In [3]:
FinalStat = pd.read_sql("""SELECT * from FinalStat""", FinalStatcon)

In [4]:
DF = FinalStat.copy()

In [5]:
DF

,level_0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year,Pts Won,Pts Max,Share,Team,index,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,22,LAL,82,1.0,18.8,2.5,4.7,0.539,0.0,0.1,0.167,2.5,4.7,0.545,0.540,1.2,2.0,0.611,2.0,2.7,4.6,0.7,0.6,0.6,1.2,2.8,6.4,1986,0.0,0.0,0.000,Los Angeles Lakers,8,62,20,0.756,0.0,117.3,109.5,6.84
1,1,Byron Scott,SG,24,LAL,76,62.0,28.8,6.7,13.0,0.513,0.3,0.8,0.361,6.4,12.2,0.523,0.524,1.8,2.3,0.784,0.7,1.8,2.5,2.2,1.1,0.2,1.4,2.2,15.4,1986,0.0,0.0,0.000,Los Angeles Lakers,8,62,20,0.756,0.0,117.3,109.5,6.84
2,2,James Worthy,SF,24,LAL,75,73.0,32.7,8.4,14.5,0.579,0.0,0.2,0.000,8.4,14.3,0.586,0.579,3.2,4.2,0.771,1.8,3.3,5.2,2.7,1.1,1.0,2.0,2.6,20.0,1986,7.0,780.0,0.009,Los Angeles Lakers,8,62,20,0.756,0.0,117.3,109.5,6.84
3,3,Jerome Henderson,C,26,LAL,1,0.0,3.0,2.0,3.0,0.667,0.0,0.0,0.000,2.0,3.0,0.667,0.667,0.0,0.0,0.000,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,1986,0.0,0.0,0.000,Los Angeles Lakers,8,62,20,0.756,0.0,117.3,109.5,6.84
4,4,Kareem Abdul-Jabbar,C,38,LAL,79,79.0,33.3,9.6,16.9,0.564,0.0,0.0,0.000,9.6,16.9,0.565,0.564,4.3,5.6,0.765,1.7,4.4,6.1,3.5,0.8,1.6,2.6,3.1,23.4,1986,135.0,780.0,0.173,Los Angeles Lakers,8,62,20,0.756,0.0,117.3,109.5,6.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17202,17730,Spencer Hawes,PF,28,MIL,54,1.0,14.8,2.5,5.1,0.484,0.5,1.5,0.309,2.0,3.6,0.556,0.529,0.8,1.0,0.846,0.7,2.8,3.5,1.5,0.3,0.6,0.9,1.4,6.2,2017,0.0,0.0,0.000,Milwaukee Bucks,7,42,40,0.512,9.0,103.6,103.8,-0.45
17203,17731,Steve Novak,PF,33,MIL,8,0.0,2.8,0.3,0.9,0.286,0.1,0.8,0.167,0.1,0.1,1.000,0.357,0.0,0.0,0.000,0.0,0.4,0.4,0.0,0.0,0.0,0.0,0.1,0.6,2017,0.0,0.0,0.000,Milwaukee Bucks,7,42,40,0.512,9.0,103.6,103.8,-0.45
17204,17732,Terrence Jones,PF,25,MIL,54,12.0,23.5,4.3,9.1,0.470,0.4,1.4,0.253,3.9,7.7,0.508,0.489,1.9,3.1,0.606,1.2,4.5,5.7,1.1,0.7,1.0,0.9,1.2,10.8,2017,0.0,0.0,0.000,Milwaukee Bucks,7,42,40,0.512,9.0,103.6,103.8,-0.45
17205,17733,Thon Maker,C,19,MIL,57,34.0,9.9,1.5,3.2,0.459,0.5,1.3,0.378,1.0,1.9,0.514,0.536,0.6,0.9,0.653,0.7,1.3,2.0,0.4,0.2,0.5,0.3,1.5,4.0,2017,0.0,0.0,0.000,Milwaukee Bucks,7,42,40,0.512,9.0,103.6,103.8,-0.45
17206,17734,Tony Snell,SG,25,MIL,80,80.0,29.2,3.1,6.8,0.455,1.8,4.4,0.406,1.3,2.3,0.548,0.588,0.6,0.7,0.810,0.3,2.8,3.1,1.2,0.7,0.2,0.7,1.6,8.5,2017,0.0,0.0,0.000,Milwaukee Bucks,7,42,40,0.512,9.0,103.6,103.8,-0.45

Intéressons nous aux différentes variables dont nous disposons

In [6]:
DF.columns

Index(['level_0', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA',
       'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA',
       'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'Year', 'Pts Won', 'Pts Max', 'Share', 'Team', 'index', 'W', 'L',
       'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS'],
      dtype='object')

On peut commencer par retirer les variables artificielles qui se sont rajoutées après une jointure ou export vers une base sql

In [7]:
DF.drop(columns = ["index","level_0"], inplace = True)

In [8]:
DF.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

On cherche pour le moment à prédire le prochain MVP. 

Ainsi, il faut choisir une(des) variable(s) cibles qui nous donneront les informations sur le MVP une fois prédites.

Dans la liste des variables disponibles, la variable "Share" semble la plus pertinente à définir comme variable cible.
En effet, cette dernière donne pour chaque joueur la part des points de votes obtenues pour le MVP.

Comme cette variable Share s'obtient par le calcul Pts Won / Pts Max, on ne peut pas se permettre de garder ces variables pour notre modèle car elles nous donnent directement la réponse

In [9]:
DF.drop(columns = ["Pts Won","Pts Max"], inplace = True)

Pour pouvoir entrainer le modèle, il est nécessaire de travailler uniquement sur des variables numériques. Intéressons nous donc aux variables non numériques

In [10]:
DF.select_dtypes(exclude=np.number).columns

Index(['Player', 'Pos', 'Tm', 'Team'], dtype='object')

On voit ici que 4 variables sont concernées :
- "Player" les noms des joueurs
- "Pos" leur position sur le terrain
- "Team" les nom complets de leurs équipes
- "Tm" l'abréviation de leur équipe

On peut déjà supprimer "Tm" qui donnent exactement les mêmes informations que la variable "Team" elle est donc inutile.
Pour les 3 restantes, on va procédérer à un encodage automatique ( on peut se le permettre car il n'y a pas de relation d'ordre pour ces variables)

In [11]:
DF.drop(columns = ["Tm"], inplace = True) 
labelencoder = LabelEncoder()
DF['Player'] = labelencoder.fit_transform(DF['Player'])
DF['Pos'] = labelencoder.fit_transform(DF['Pos'])
DF['Team'] = labelencoder.fit_transform(DF['Team'])

Vérifions que la transformation a fonctionné

In [12]:
DF.dtypes

Player      int32
Pos         int32
Age         int64
G           int64
GS        float64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
Year        int64
Share     float64
Team        int32
W           int64
L           int64
W/L%      float64
GB        float64
PS/G      float64
PA/G      float64
SRS       float64
dtype: object

Toutes nos variables sont maintenant numériques. Il faut maintenant réfléchir à quel type de modèle serait le plus pertinent dans notre cas.

La variable "Share" étant une variable prenant des valeurs sur tout l'intervalle [0,1], il sera plus judicieux ici de se tourner vers une régression.

In [13]:
sorted(DF["Year"].unique())

[1982,
 1983,
 1984,
 1985,
 1986,
 1987,
 1988,
 1989,
 1990,
 1991,
 1992,
 1993,
 1994,
 1995,
 1996,
 1997,
 1998,
 1999,
 2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021]

Nous allons utiliser les résultats des années allant de 1982 à 2015 pour prédire les MVPS des années 2016 à 2021

Commençons par l'année 2016

On définit l'ensemble d'apprentissage et de test ainsi que la variable cible.

In [14]:
train = DF[DF["Year"]<2016]
test = DF[DF["Year"]==2016]
x_columns =  train.drop('Share', axis=1).columns
y_column  = 'Share'

Entrainement et utilisation du modèle

In [15]:
reg = LinearRegression().fit(train[x_columns], train[y_column])
Y_pred_MVP_2016 = reg.predict(test[x_columns])

Un peu de mise en forme...

In [16]:
Y_pred_MVP_2016 = pd.DataFrame(Y_pred_MVP_2016,columns = ["Pred_Share"],index = test.index)  #on associe à notre dataframe les index de l'ensemble de test pour pouvoir faire correspondre chaque prédiction au joueur correspondant.
Y_pred_MVP_2016

       Pred_Share
559      0.003033
560     -0.005207
561      0.003520
562      0.008765
563     -0.006920
...           ...
16044    0.002081
16045   -0.034609
16046   -0.022288
16047    0.003708
16048   -0.008826

[478 rows x 1 columns]

Relions ces prédictions aux noms des joueurs concernés à l'aide de l'index des lignes

In [17]:
DF_pred = pd.concat([FinalStat["Player"],Y_pred_MVP_2016],axis = 1,join="inner")
DF_pred

                  Player  Pred_Share
559         Aaron Brooks    0.003033
560         Bobby Portis   -0.005207
561     Cameron Bairstow    0.003520
562    Cristiano Felício    0.008765
563         Derrick Rose   -0.006920
...                  ...         ...
16044      Miles Plumlee    0.002081
16045          O.J. Mayo   -0.034609
16046      Rashad Vaughn   -0.022288
16047        Steve Novak    0.003708
16048        Tyler Ennis   -0.008826

[478 rows x 2 columns]

Trions ce dataframe pour avoir le classement prédit

In [18]:
DF_pred.sort_values(by=['Pred_Share'],ascending = False, inplace = True)

Maintenant que les lignes sont triées, on peut créer une colonne "Rank_pred" qui correspond à la position du joueur pour le MVP

In [19]:
DF_pred["Rank_pred"] = 0
for i in range(len(DF_pred)):
    DF_pred["Rank_pred"].iloc[i] = i+1

C:\Users\CYTech Student\AppData\Local\Temp\ipykernel_16048\3878515350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_pred["Rank_pred"].iloc[i] = i+1

In [20]:
DF_pred

                  Player  Pred_Share  Rank_pred
6806       Stephen Curry    0.185144          1
7584        Kevin Durant    0.170156          2
15803       LeBron James    0.155650          3
8247        James Harden    0.152124          4
7590   Russell Westbrook    0.145574          5
...                  ...         ...        ...
9196       Anthony Brown   -0.038874        474
4798    Dante Cunningham   -0.039417        475
6531       Briante Weber   -0.042889        476
15795      Dahntay Jones   -0.048886        477
12014         Duje Dukan   -0.078598        478

[478 rows x 3 columns]

Pour comparer ces résultats aux vrais résultats, on va créer un Dataframe équivalent mais pour les valeurs réelles

In [21]:
DF_reel = pd.DataFrame(test[y_column])
DF_reel.sort_values(by=['Share'],ascending = False, inplace = True)

In [22]:
DF_reel["Rank_reel"] = 0
for i in range(len(DF_reel)):
    DF_reel["Rank_reel"].iloc[i] = i+1
DF_reel

C:\Users\CYTech Student\AppData\Local\Temp\ipykernel_16048\1298405085.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DF_reel["Rank_reel"].iloc[i] = i+1

       Share  Rank_reel
6806   1.000          1
7487   0.484          2
15803  0.482          3
7590   0.371          4
7584   0.112          5
...      ...        ...
4615   0.000        474
4614   0.000        475
4613   0.000        476
4612   0.000        477
16048  0.000        478

[478 rows x 2 columns]

On drop la colonne Share pour éviter le doublon après la jointure avec le DF_pred

In [23]:
DF_reel.drop(columns = ["Share"], inplace = True)

In [24]:
DF_pred = pd.concat([DF_pred,test[y_column]],axis = 1,join="inner")
DF_pred

                  Player  Pred_Share  Rank_pred  Share
6806       Stephen Curry    0.185144          1  1.000
7584        Kevin Durant    0.170156          2  0.112
15803       LeBron James    0.155650          3  0.482
8247        James Harden    0.152124          4  0.007
7590   Russell Westbrook    0.145574          5  0.371
...                  ...         ...        ...    ...
9196       Anthony Brown   -0.038874        474  0.000
4798    Dante Cunningham   -0.039417        475  0.000
6531       Briante Weber   -0.042889        476  0.000
15795      Dahntay Jones   -0.048886        477  0.000
12014         Duje Dukan   -0.078598        478  0.000

[478 rows x 4 columns]

Rassemblons tout cela dans un seul dataframe DF_2016

In [25]:
DF_2016 = pd.concat([DF_pred,DF_reel], axis  = 1 )
DF_2016.head(20)

                  Player  Pred_Share  Rank_pred  Share  Rank_reel
6806       Stephen Curry    0.185144          1  1.000          1
7584        Kevin Durant    0.170156          2  0.112          5
15803       LeBron James    0.155650          3  0.482          3
8247        James Harden    0.152124          4  0.007          9
7590   Russell Westbrook    0.145574          5  0.371          4
...                  ...         ...        ...    ...        ...
9196       Anthony Brown   -0.038874        474  0.000         14
4798    Dante Cunningham   -0.039417        475  0.000        461
6531       Briante Weber   -0.042889        476  0.000        384
15795      Dahntay Jones   -0.048886        477  0.000        151
12014         Duje Dukan   -0.078598        478  0.000        212

[478 rows x 5 columns]

On constate que l'on prédit correctement le MVP de 2016, maintenant il faudrait trouver une métrique pertinente pour évaluer l'écart entre la position réelle du top 3 (ou 5) avec leur position prédite